<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>-->
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.1" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>